body {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  max-width: 900px;
}

#body {
  margin: 20px;
}

img {
  height: 175px;
  width: 150px;
  transform: scaleX(-1);
  border-radius: 16px;
  border: 3px solid hsl(0, 0%, 0%);
  border-radius: 8px;
  background: #fff;
}

.avatar {
  width: 150px;
}

#avatar1 {
  transform: rotate(-9deg);
  position: relative;
}

#avatar2 {
  bottom: 180px;
  position: relative;
  transform: rotate(9deg);
}
#avatar-holder {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*TEXT*/

ul {
  list-style-type: none;
  padding: 0;
}

#body ul {
  margin: 40px 0;
}

#buttons ul {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#buttons ul li button {
  cursor: pointer;
  transition: all 0.1s;
  color: #90a7df;
}

button {
  border: none;
  padding: 12px;
  border-radius: 16px;
  display: flex;
  font-size: 22px;
}

.button-style {
  padding: 12px;
  border-radius: 16px;
  font-size: 22px;
  width: auto;
  color: #90a7df;
}

h1 {
  font-size: 48px;
  font-weight: 300;
}

h2 {
  font-size: 26px;
  font-weight: 300;
}

li,
p {
  font-size: 26px;
  line-height: 1.4;
  margin-bottom: 10px;
  font-weight: 200;
}

p {
  font-size: 24px;
}

span {
  background-color: black;
  color: #fff;
  font-size: 24px;
  padding: 4px 16px;
  border-radius: 32px;
  cursor: pointer;
}

#location {
  background-color: white;
  color: black;
  padding: 0px;
  font-size: 26px;
}

.hidden {
  display: none;
}

/** Cases */

.case {
  display: flex;
}

.case-img {
  padding: 20px;
  margin: 50px auto;
}

.case-text {
  margin: auto 40px;
}

.case-img {
  background-color: #90a7df;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media only screen and (max-width: 420px) {
  li,
  p {
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 4px;
  }

  span {
    font-size: 16px;
    padding: 2px 8px;
    line-height: 1.8px;
  }

  #location {
    font-size: 18px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
  }

  button {
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 16px;
    cursor: pointer;
    cursor: pointer;
  }

  #buttons ul {
    gap: 4px;
  }

  .button-style {
    padding: 12px 0px;
    border-radius: 16px;
    font-size: 16px;
  }

  .case {
    flex-direction: column;
  }

  .case img {
    height: 200px;
    width: 200px;
  }

  .case-text p {
    font-size: 16px;
  }
}

/** Animation */

.move-left {
  left: 75px;
}

.move-right {
  right: 75px;
}

#buttons ul li button:hover {
  background-color: #90a7df;
  color: black;
}
