body {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  max-width: 900px;
}

#body {
  margin: 20px;
}
.avatar img {
  height: 175px;
  width: 150px;
  transform: scaleX(-1);
  border-radius: 16px;
  border: 3px solid hsl(0, 0%, 0%);
  border-radius: 8px;
  background: #fff;
}

.avatar {
  width: 150px;
}

#avatar1 {
  transform: rotate(-9deg);
  position: relative;
}

#avatar2 {
  bottom: 180px;
  position: relative;
  transform: rotate(9deg);
}
#avatar-holder {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.move-left {
  left: 75px;
}

.move-right {
  right: 75px;
}

/*TEXT*/

ul {
  list-style-type: none;
  padding: 0;
}

#body ul {
  margin-bottom: 40px;
}

#buttons ul {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  border: none;
  padding: 12px;
  border-radius: 16px;
  display: flex;
  font-size: 22px;
}

h1 {
  font-size: 48px;
  font-weight: 300;
}

li {
  font-size: 26px; /* Adjust the font-size as needed */
  line-height: 1.4; /* Adjust the line-height to match the image */
  margin-bottom: 10px; /* Adjust the space between paragraphs as needed */
  font-weight: 200;
}

span {
  background-color: black;
  color: #fff;
  font-size: 24px;
  padding: 4px 8px;
  border-radius: 32px;
  cursor: pointer;
}

#location {
  background-color: white;
  color: black;
  padding: 0px;
  font-size: 26px;
}

@media only screen and (max-width: 420px) {
  body {
    margin: 100px 20px;
  }

  li {
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 4px;
  }

  span {
    font-size: 16px;
    padding: 2px 4px;
    line-height: 1.8px;
  }

  #location {
    font-size: 18px;
  }

  h1 {
    font-size: 36px;
  }

  button {
    font-size: 16px;
    padding: 6px 12px;
    padding: 4px 8px;
    border-radius: 32px;
    cursor: pointer;
    color: black;
  }

  #buttons ul {
    gap: 4px;
  }
}

/** Animation */

#location {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
